@media screen and (max-width: 770px) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .split-1 {
    flex: 0.7;
  }
  .split-2 {
    flex: 0.3;
  }
}

.grid-parent {
  display: grid;
  height: 100vh;
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-areas:
    "head"
    "main-body"
    "foot";
}

.head {
  grid-area: "head";
}

.main-body {
  grid-area: "main-body";
}

.foot {
  grid-area: "foot";
}
